<div class="welcomeCon">
    <div class="welcomeDes">
        <p>Welcome to <span id="red">Blog</span><span id="yellow">Now</span><span id="blue">.</span><span id="green">Play</span><span id="violet">Later</span>!<br>
        <br>To simply put it, we review games to let you know if it's worth both your time and money.<br>
        <br>Interested? Check out our reviews <%= link_to 'HERE!', posts_path %></p>
    </div>
    <div class="welcomeImg">
        <%= image_tag("/logo_2.jpeg", :size => "450x400") %>
    </div>
</div>