@import "bootstrap/scss/bootstrap";

// main designs
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a:link, a:visited, a:active {
    text-decoration: none;
}

// color palette variables
:root {
    --color-palette-psRed: #DF0024;
    --color-palette-psBlue: #2E6DB4;
    --color-palette-psGreen: #00AC9F;
    --color-palette-psViolet: #665cbe;
    --color-palette-psYellow: #F3C300;
}
// colors
#red {
    color: var(--color-palette-psRed);
}
#blue {
    color: var(--color-palette-psBlue);
}
#green {
    color: var(--color-palette-psGreen);
}
#violet {
    color: var(--color-palette-psViolet);
}
#yellow {
    color: var(--color-palette-psYellow);
}

// card design
main, .my_card, .my_card_body, .features {
    display: flex;
}
main, .my_card, .my_card_body {
    flex-direction: column;
    justify-content: center;
}
main, .my_card, .features {
    align-items: center;
}

.my_card {
    border: 1px solid transparent;
}
.img_banner {
    height: 220px;
    width: 400px;
    border-radius: 25px;
}
.my_card_body {
    align-items: flex-start;
}
.bold {
    font-weight: bold;
}
.features {
    width: 20%;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

// header
.my_nav, .logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.my_nav {
    width: 100%;
    border-bottom: 2px solid var(--color-palette-psBlue);
    margin-bottom: 50px;
}
.logo {
    justify-content: center;
    margin-right: 200px;
}

// review game
.review {
    margin: 30px 0px 30px 0px;
    padding: 5px;
    border: 1.5px solid var(--color-palette-psBlue);
    border-radius: 10px;
}

// footer
footer {
    margin-top: auto;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

// welcome
.welcomeCon, .welcomeDes, .welcomeImg {
    display: flex;
    font-size: 1.2rem;
}
.welcomeDes, .welcomeImg {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.welcomeCon {
    height: 400px;
    width: 60%;
    margin-top: 50px;
}

// show edit create
form, .form_con {
    display: flex;
}
input, textarea {
    width: 300px;
    padding: 1px 1px 1px 10px;
    background-color: white;
    color: var(--color-palette-psBlue);
    border: 1.1px solid var(--color-palette-psBlue);
    border-radius: 5px;
    outline: none;
}

.content {
    width: 70%;
    border: 2px solid var(--color-palette-psGreen);
    border-radius: 25px;
    padding: 30px;
}
.author {
    font-style: italic;
}
.actions_general {
    margin: 15px 0px 30px 0px;
}
form {
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 28%;
    margin-top: 30px;
}
.form_con {
    justify-content: space-between;
    width: 100%;
}
.margin_bot_field {
    margin-bottom: 10px;
}
.margin_bot_label {
    margin-bottom: 17px;
}