<ul class="nav justify-content-center my_nav">
  <li class="logo">
    <div>
      <span id="red">Blog</span><span id="yellow">Now</span><span id="blue">.</span><span id="green">Play</span><span id="violet">Later</span>
    </div>
    <%= image_tag("logo.png", :size => "100x70") %>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="red" href="#">Blogs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="blue" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="green" href="#">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="yellow" href="#">Registration</a>
  </li>
</ul>