<ul class="nav justify-content-center my_nav">
  <li class="nav-item">
    <a class="nav-link" id="red" href="#">Blogs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="blue" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="green" href="#">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="yellow" href="#">Registration</a>
  </li>
</ul>